/*
 * @Author: ranruci 
 * @Date: 2017-12-24 13:50:57 
 * @Last Modified by: ranruci
 * @Last Modified time: 2017-12-24 14:03:31
 */

.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #C60023;
}